.details-panel {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 100px);

  padding: 0.75rem;
  border: 2px solid #ddd;
  border-radius: 1000px;

  transition: transform 0.3s;

  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
}

.details-panel.active {
  transform: translate(-50%, 0);
}
